* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  
}

/* ------------------------------------------------------------NavBar-------------------------------------------------------------------------------- */

.nav-bar-container{
  background: linear-gradient(to right,#860101, #430046 );
  padding: 20px;
  display: flex;
  justify-content: space-around ;
}

.logo-container img {
  height: 100%;
  width: 20rem;
  margin-left: 30px;
  margin-right: 20px;
}

.nav-bar-route {
  margin-right: 80px;
  margin-top: 15px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-bar-route a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-route-item span{
  margin-left: 10px;
  font-size: 14px;
}

.search-bar-container {
  background-color: white;
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 40px;
  display:flex;
  justify-content: space-between;
  width: 100rem;
  height: 50px;
}

.search-bar-container a{
  text-decoration: none;
  color: black;
  display:flex;
  align-items: center;
}

.search-bar-cate {
  display: flex;
  align-items: center;
  gap: 20px;
}

.all-cate-butt span{
  margin-right: 10px;
  font-size: 12px;
  width:80px;
}


.search-bar-cate .all-cate-butt {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 30px;
}

.search-input {
  outline: none;
  color: grey;
  background-color: transparent;
  border: none;
  font-size: 12px;
  padding-top: 3%;
  padding-bottom: 3%;
}

.search-input:focus {
  color: black; 
}


.search-icon {
  margin-right: 10px;
}

@media (max-width: 1400px) {
  .nav-bar-route {
    display: none; 
  }
}


@media (max-width: 1200px) {
  .search-bar-container {
    width: 50%;
  }
}

@media (max-width:775px) {
  .logo-container img {
    width: 15rem;
    margin-left: 10px;
  }
}
@media (max-width:774px) {
  .search-bar-container {
    display: none;
  }
  .nav-bar-route {
    display: flex;
    margin-left: 80px;
    gap: 40px;
  }
  .nav-route-item span{
    display: none;
  }
  .icon-acc-shop{
    font-size: 18px;
  }
}

/* ------------------------------------------------------------Wrapper-------------------------------------------------------------------------------- */

.main-wrapper { 
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.wrapper-ads1 {
  margin-top: 2%;
  background-image: url(/src/assets/ads1.png); 
  height: 40vw;
  width: 80rem;
  background-size: 100% 100%;
  background-position: center;
  text-align: start;
}

.ads-recommend1 {
  margin-top: 5%;
  margin-left: 14%;
}
.ads-recommend2 {
  margin-top: 0.5%;
  margin-left: 14%;
}

.ads-recommend1 h1 {
  color: white;
  font-size: 5vw;
  letter-spacing: 1px;
}

.ads-recommend2 div {
  color: white;
  font-size: 1.6vw;
  font-weight:unset;
  margin-bottom: 0.5%;
  letter-spacing: 1px;
}

.shopping-now {
  text-decoration: none;
}

.shopping-ads-butt {
  font-size: 1.3vw;
  text-align: center;
  margin-top: 2%;
  margin-left: 14%;
  width: 20%;
  background-color: #9338CB;
  color: white;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
}

.sized-box-of-wrapper{
  height: 620px;
}

@media(max-width: 729px){
  .wrapper-ads1{
    height: 40vw;
  }
}

/* ------------------------------------------------------------Login_page-1-------------------------------------------------------------------------------- */

