:root {
  font-family: 'Poppins', sans-serif;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


